<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta name="keywords" content="ingles, aprender ingles, aprender idiomas, tecnicas de estudio, tips, pricipiante, intermedio, avanzado"
    <meta name="description" content="Aprende Inglés viendo lo sugerido por profesores en YouTube">
    <meta name="author" content="Lorena Tarnovsky">
    <meta name="copyright" content="Lorena Tarnovsky">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../img/istockphoto-1133341325-612x612.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">


</head>


<body>
    
    <header>
        <div class="logo">
            <a href="index.html"><img src="iconos/ordenador-portatil.png" alt="logo" id="logo1"></a><a href="index.html"
                class="ey">
                <p>Inicio</p>
            </a>
        </div>

        <nav>
            <a href="ingles.html">Introducción</a>
            <a href="basico.html">BÁSICO</a>
            <a href="principiante.html">PRINCIPIANTE</a>
            <a href="intermedio.html">INTERMEDIO</a>
            <a href="avanzado.html">AVANZADO</a>
            <a href="tips.html">Tips</a>
            <a href="tecnicas_de_estudio.html">Técnicas de Estudio</a>
            

    
        </nav>

    </header>


    <main>
        <section>
            <div class="títulosh1">
                <h1><u>Welcome!</u></h1>
            </div>
            <div>
                <img src="img/ENGLISH REPOSITORY.jpeg" alt="english repository">
            </div>
               

        </section>


        <section>

            <div class="títulosh2">
                <h2>Let'start!</h2>

            </div>

            <div class="parrafos">
                <p>
                    En esta página encontrarás un catálogo variado de canales de YouTube para que puedas <strong>aprender Inglés</strong> como lengua extranjera. También subiré Tips para que puedas autogestionar tu aprendizaje. <i> autodidácta en esta era digital es fundamental.</i> Por eso las técnicas de estudio que uses, más <b>tu perseverancia, disciplina y buenos hábitos</b> harán la diferencia a la hora de <strong> un nuevo idioma.</strong>
                </p>    
            </div>
        </section>
        <br>
        <section>
            <h5 class="titulo5"><P> Para comenzar elige tu nivel de inglés. </P></h5>
            <div class="niveles">
                 <ol>
                    <li><a href="basico.html">BÁSICO</a> </li>
                    <li><a href="principiante.html">PRINCIPIANTE</a> </li>  
                    <li><a href="intermedio.html">INTERMEDIO</a> </li>
                    <li><a href="avanzado.html">AVANZADO</a> </li>
                 </ol>
            </div>

        </section>
        <br>
        
    </main>

    <br>

    <footer>

        <h4 class="tituloh4">Aprendiendo a Aprender Inglés.</h4>
        <h7 class="titulo7footer"> Si deseas que tu canal de YouTube sea considerado para ser sugerido por nuestro equipo de profesores <a href="mailto:LP.Tarnovsky@gmail.com"> envíanos un mail. </a></h7>
        

    </footer>
      



</body>
</html>