<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="ingles, aprender ingles, aprender idiomas, tecnicas de estudio, tips, pricipiante, intermedio, avanzado"
    <meta name="description" content="Aprende Inglés viendo lo sugerido por profesores en YouTube">
    <meta name="author" content="Lorena Tarnovsky" />
    <meta name="copyright" content="Lorena Tarnovsky" />
    <title>Document</title>
    <link rel="shortcut icon" href="../img/istockphoto-1133341325-612x612.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    
    <header>

        <div class="logo">
            <a href="index.html"><img src="iconos/ordenador-portatil.png" alt="logo" id="logo1"></a><a href="index.html"
                class="ey">
                <p>Inicio</p>
            </a>
        </div>
        
        <nav>
            <a href="ingles.html">Introducción</a>
            <a href="basico.html">BÁSICO</a>
            <a href="principiante.html">PRINCIPIANTE</a>
            <a href="intermedio.html">INTERMEDIO</a>
            <a href="avanzado.html">AVANZADO</a>
            <a href="tips.html">Tips</a>
            <a href="tecnicas_de_estudio.html">Técnicas de Estudio</a>
    
        </nav>
        
    </header>
<main> 
    <h1>Nivel Principiante</h1>
    <p>El nivel principiante es el segundo estadío de aprendizaje en un idioma. En este nivel comenzarías a adquirir mas información y contenido tanto a nivel gramatical como lexical y fónologico (cómo producir el sonido - las palabras-). </p>
   
     <div>
         <ol type="1" start="1">
               
                <li><a href="https://www.youtube.com/embed/fvbouqnLNdo?si=dAIHNMCc4-1qILtJ">Origen del idioma Inglés</a></li>
                
                <li><a href="https://www.youtube.com/watch?v=bGLbYVFzMwk">El alfabeto en inglés.</a></li>

                <li><a href="https://www.youtube.com/watch?v=mrDrS6XBGwE">Saludos Formales e Informales</a></li>

                <li><a href="https://www.youtube.com/watch?v=ZS9vOhfrvRw">Los números en inglés.</a></li>

                <li><a href="https://www.youtube.com/watch?v=ORD_94zHNOg">Diferencias entre: verbos, adjetivos y sustantivos.</a></li>

                <li><a href="https://www.youtube.com/watch?v=b8ggYk0GPMA"> Verbos, sustantivos y adjetivos en Inglés.</a></li>

                <li><a href="https://www.youtube.com/watch?v=ygp0y66jKbc">Sustantivos regulares e irrgulares.</a></li>

                <li><a href="https://www.youtube.com/watch?v=mDdBvF0j-Zk">Los pronombres personales</li>

                <li> <a href="https://www.youtube.com/watch?v=oeksGYoNaXE">El verbo to be.</a></li>

                <li> <a href="https://www.youtube.com/watch?v=xeoYcCAnQlU">Verb to be: Formas Afirmativa, Negativa e Interrogativa.</a></li>

                <li> <a href="https://www.youtube.com/watch?v=zetWauRwg-o&list=PLzmo0dfg97vzebqumjGXqtnO7no0-j_Il&index=15">Contracciones del verbo to be:Afirmativa.</a></li>

                <li> <a href="https://www.youtube.com/watch?v=-H1X5c3p1nw&list=PLzmo0dfg97vzebqumjGXqtnO7no0-j_Il&index=21"> Contracciones del verbo to be: Negativa.</a></li>

                <li> <a href="https://www.youtube.com/watch?v=m9Wd9n2mEpk">Práctica del verbo to be</a></li>

                <li><a href="https://www.youtube.com/watch?v=MwOcjy0UPtM">Los días de la semana</a></li>

                <li><a href="https://www.youtube.com/watch?v=_iUJhd4Na2U">Descripción de personas.</a></li>

                <li><a href="https://www.youtube.com/watch?v=XoiYTzyVy-s">Verbo Have/Has.</a></li>

               <li><a href="https://www.youtube.com/watch?v=UJT7Dq4r008">Verbo Have/Has: Afirmativa, Negativa e Interrogativa.</a></li>

            </ol>
        </div>           
       

    

</main>
    <footer>

        <h4 class="tituloh4">Aprendiendo a Aprender Inglés.</h4>
        <h7 class="titulo7footer"> Si deseas que tu canal de YouTube sea considerado para ser sugerido por nuestro equipo de profesores <a href="mailto:LP.Tarnovsky@gmail.com"> envíanos un mail. </a></h7>
        

    </footer>
</body>
</html>