<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="ingles, aprender ingles, aprender idiomas, tecnicas de estudio, tips, pricipiante, intermedio, avanzado"
    <meta name="description" content="Aprende Inglés viendo lo sugerido por profesores en YouTube">
    <meta name="author" content="Lorena Tarnovsky" />
    <meta name="copyright" content="Lorena Tarnovsky" />
    <title>TIPS</title>
    <link rel="shortcut icon" href="../img/istockphoto-1133341325-612x612.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>


<body>
    

<header>
    <div class="logo">
        <a href="index.html"><img src="iconos/ordenador-portatil.png" alt="logo" id="logo1"></a><a href="index.html"
            class="ey">
            <p>Inicio</p>
        </a>
    </div>

    <nav>
        <a href="ingles.html">Introducción</a>
        <a href="basico.html">BÁSICO</a>
        <a href="principiante.html">PRINCIPIANTE</a>
        <a href="intermedio.html">INTERMEDIO</a>
        <a href="avanzado.html">AVANZADO</a>
        <a href="tips.html">Tips</a>
        <a href="tecnicas_de_estudio.html">Técnicas de Estudio</a>

    </nav>
</header>

</body>

<main>
    <h1>TIPS</h1>
    

</main>
<footer>

    <h4 class="tituloh4">Aprendiendo a Aprender Inglés.</h4>
    <h7 class="titulo7footer"> Si deseas que tu canal de YouTube sea considerado para ser sugerido por nuestro equipo de profesores <a href="mailto:LP.Tarnovsky@gmail.com"> envíanos un mail. </a></h7>
        

</footer>
</body>
</html>